---
import Main from "../layout/Main.astro";
---

<Main >
	<div class="h-screen w-screen overflow-hidden">


	<div class="absolute top-4 left-4 w-80">
		<div class="collapse collapse-plus bg-base-100 border border-base-300">
			<input type="radio" name="my-accordion-3" checked="checked" />
			<div class="collapse-title font-semibold">À propos</div>
			<div class="collapse-content text-sm">Bientôt disponible</div>
		</div>
		<div class="collapse collapse-plus bg-base-100 border border-base-300">
			<input type="radio" name="my-accordion-3" />
			<div class="collapse-title font-semibold">Couches de données</div>
			<div class="collapse-content text-sm flex flex-col">
				<label><input type="checkbox" id="check_1"> Articles de brasserie</label>
				<label><input type="checkbox" id="check_2"> Grossistes de vins</label>
				<label><input type="checkbox" id="check_3"> Débits de vins</label>
				<label><input type="checkbox" id="check_4"> Brasseurs</label>
				<label><input type="checkbox" id="check_5"> Entrepôts/Négociants de bières</label>
				<label><input type="checkbox" id="check_6"> Cidreries</label>
				<label><input type="checkbox" id="check_7"> Distilleries</label>
				<label><input type="checkbox" id="check_8"> Marchands d'houblons</label>
				<label><input type="checkbox" id="check_9"> Malterie</label>
				<label><input type="checkbox" id="check_10"> Tonnelier</label>
				<label><input type="checkbox" id="check_11" disabled class="disabled"> Café-Brasserie</label>
				<label><input type="checkbox" id="check_12" disabled> Café-Bars</label>
			</div>
		</div>
	</div>
	<div class="absolute bottom-4 left-4 p-10 bg-base-100 border border-base-300">
		<div class="font-semibold" id="description_popup_name">Information sur la donnée</div>
		<div class="text-sm" id="description_popup_desc">Sélectionnez une couche de données, puis cliquez sur une entité sur la carte</div>
	</div>
	<div class="absolute top-4 right-4 w-40 collapse bg-base-100 border-base-300 border">
		<input type="checkbox" checked/>
		<div class="collapse-title font-semibold">Légende</div>
		<div class="collapse-content text-sm">
			<div class="flex flex-col">
				<div class="flex">
					<div class="w-4 h-4 bg-yellow-400 mx-2"></div>
					<p class="flex-grow">Batiment</p>
				</div>
				<div class="flex">
					<div class="w-4 h-4 bg-green-200 mx-2"></div>
					<p class="flex-grow">Fortifications</p>
				</div>
				<div class="flex">
					<div class="w-4 h-4 bg-green-400 mx-2"></div>
					<p class="flex-grow">Végétation</p>
				</div>
				<div class="flex">
					<div class="w-4 h-4 bg-red-400 mx-2"></div>
					<p class="flex-grow">Hopital</p>
				</div>


			</div>

		</div>
	</div>
	<div id="map" class="h-full w-auto"></div>
	</div>
</Main>

<script>
    import maplibregl from 'maplibre-gl'
	const catName = ['','Magasin d\'articles de brasserie', 'Grossiste de vins et spiritueux', 'Débit de vins', 'Brasseur', 'Entrepot ou négociant de bière', 'Cidrerie', 'Distillerie', 'Marchand d\'Houblons', 'Malterie', 'Tonnelier', 'Café-Brasserie', 'Café-Bars']
	const popdesc = document.getElementById('description_popup')
	const popdescn = document.getElementById('description_popup_name')
	const popdescd = document.getElementById('description_popup_desc')
	const colors = ['#fed976', '#feb24c', '#fd8d3c', '#fc4e2a', '#e31a1c', '#e31a1c','#e31a1c','#e31a1c','#e31a1c','#e31a1c','#e31a1c','#e31a1c','#e31a1c','#e31a1c'];
    const map = new maplibregl.Map({
        container: 'map',
        style: 'https://basemaps.cartocdn.com/gl/positron-gl-style/style.json',
        center: [7.756836,48.585316],
        zoom: 14,
        attributionControl: false
    });

	map.addControl(new maplibregl.NavigationControl({
		visualizePitch: true,
		visualizeRoll: true,
		showZoom: true,
		showCompass: true
	}));

    map.on('load', () => {

		for (let i = 1; i <= 12; i++) {
			const url = `/assets/sprites/${i}.png`
			fetch(url)
				.then((res) => res.blob())
				.then((blob) => createImageBitmap(blob))
				.then((imageBitmap) => {
					if (!map.hasImage(`icon-${i}`)) {
						map.addImage(`icon-${i}`, imageBitmap, { pixelRatio: 2 });
					}
				})
				.catch((err) => console.error(`Failed to load icon-${i}`, err));
		}
		const layers = map.getStyle().layers;

		layers.forEach((layer) => {
			if (layer.type === 'symbol' || layer.type === 'line' || (layer['source-layer'] && layer['source-layer'].includes('building'))) {
				map.setLayoutProperty(layer.id, 'visibility', 'none');
			}
		});

		map.addSource('sol', {
			type: 'geojson',
			data: '/data/1920_sol.geojson'
		})
		map.addSource('rues', {
			type: 'geojson',
			data: '/data/Rues1920.geojson'
		})
		map.addSource('boire', {
			type: 'geojson',
			data: '/data/Boire1920.geojson',
		})

		const sol: maplibregl.FillLayerSpecification = {
			id: 'sol',
			type: 'fill',
			source: 'sol',
			paint: {
				'fill-color': [
					'match',
					['get', 'type'],
					'Batiment', '#e8ce59',
					'Vert', '#91c167',
					'Fortification', '#dce6d5',
					'Eau', '#b6ecf6',
					'Monument', '#000000',
					'Train', '#c4c4c4',
					'Hopital', '#e75f78',
					'#cccccc'
				] as any,
				'fill-opacity': 0.99
			}
		}
		const rues: maplibregl.SymbolLayerSpecification = {
			'id': 'rues',
			'type': 'symbol',
			'source': 'rues',
			"minzoom": 13.9,
			"layout": {
				"text-field": ["to-string", ["get", "NOM1"]],
				"symbol-placement": "line-center",
				"text-size": 12
			},
		}


		const boire: maplibregl.CircleLayerSpecification = {
			id: 'boire',
			type: 'circle',
			source: 'boire',
			paint: {
				'circle-color': [
					'match',
					['get', 'Categorie'],
					1, '#6b81d7',
					2, '#91c167',
					3, '#496e2f',
					4, '#043e47',
					5, '#6e1414',
					6, '#9c5e33',
					7, '#e75f78',
					8, '#1e848a',
					9, '#f7a2af',
					10, '#e75f78',
					11, '#bda06b',
					12, '#9b59b6',
					'#cccccc'
				] as any,
				'circle-opacity': 0.8,
				'circle-radius': 6
			}
		};


		map.addLayer(sol)
		map.addLayer(rues)

		const acteurs = []
		for(let i= 1; i<13; i++){
			acteurs[i] = ({
				id: `c${i}`,
				type: 'symbol',
				source: 'boire',
				filter: ['==', ['get', 'Categorie'], i ],
				layout: {
					'icon-image': `icon-${i}`,
					'icon-size': 0.5,
					'icon-allow-overlap': true,
					'icon-ignore-placement': true
				},
				minzoom:0,
				maxzoom:24
			})
			document.getElementById('check_'+i).addEventListener('change', (e) => {
				if(e.target.checked){
					map.addLayer(acteurs[i])
				}else{
					map.removeLayer(acteurs[i].id)
				}
			})
			map.on('click', `c${i}`, (e) => {
				const feature = e.features?.[0];
				//popdesc.click()
				const no = feature.properties.No === '-1' ? '': feature.properties.No
				popdescd.innerHTML = `<h4 class="text-lg">${feature.properties.Nom}<h4><p>${no} ${feature.properties.Adresse}</p><p>${catName[feature.properties.Categorie]}</p>`
			});
			map.on('mouseenter', `c${i}`, () => map.getCanvas().style.cursor = 'pointer');
			map.on('mouseleave', `c${i}`, () => map.getCanvas().style.cursor = '');
		}


		// map.moveLayer('boire');

	})

</script>
